# k8s/ollama/base/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - pvc.yaml

commonLabels:
  app.kubernetes.io/part-of: financial-agent-system
  app.kubernetes.io/managed-by: kustomize
